* {
    box-sizing: border-box;
}
.style{
    background-color: aquamarine;
    border-radius: 20px;
    border: 30px;
    margin: 10px;
    box-shadow:darkgray;
    width: 100px;
    height: 100px;

}
body{
    width: 500px;
    height: 800px;
}