* {
    box-sizing: border-box;
}
.style{
    background-color: rgb(127, 193, 255);
    border-radius: 20px;
    border: 30px;
    margin: 10px;
    box-shadow:darkgray;
    width: 100px;
    height: 100px;

}

.container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 30%;
}
#background{
    width: 500px;
    height: 1000px;
    background-size: cover;
    position: relative;
}
body{
    position: relative;
    width: 500px;
    height: 1000px;
    left: 35%;
}
#image{
    padding: 2px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: transparent;
}
@media (width <= 576px) {
    .style{
     border: 1px blue;   
    }
    #image{
        width: 50px;
        height: 50px;
    }
}
@media (width <= 768px) {
    .style{
     border: 2px teal;   
    }
    #image{
        width: 80px;
        height: 80px;
    }
}
@media (width <= 992px) {
    .style{
     border: 3px red;   
    }
    #image{
        width: 150px;
        height: 150px;
    }
}
@media (width <= 1200px) {
    .style{
     border: 4px pink;
    }
    #image{
        width: 200px;
        height: 200px;
    }
}